

.list-group-item .sub-items .list-group-item {
    border: none;
    background-color: #f9fafb;
}

.list-group-item .sub-items .list-group-item span:first-child {
    width: 1.5rem;
    font-weight: bold;
    color: #6b7280;
}











  